profiles {

    standard {
        process.executor = 'local'
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=false
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

        conda.cacheDir = "${baseDir}/cached_envs" // TODO: sort out this path 
        conda.createTimeout = "30 min"
    } 
}

params{
    results_dir = "${baseDir}/outputs" // specify output when in nested workflow
    method="prediction" //must be 'evaluation' or 'prediction'
    training_dataset_id = "foo"
    training_10x_dir = "$baseDir/data/test_10X_data"
    metadata_file = "$baseDir/data/test_metadata.txt"
    eigenvalue_plot_path = 'eigenvalue_plot.png'
    train_probs_plot_path = 'train_probs.png'
    normalised_counts_slot = 'counts'
    cell_id_col_name = "Comment.ENA_RUN."
    cell_types_col_name = "Characteristics.cell.type."
    col_names = "TRUE"
    log_transform = "TRUE"
    trained_model = "scpred_trained_model.rds"
    model = 'svmRadial' 
}